@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model TestingApplication.Models.User
@{
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="~/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>RSVP</h4></div>
        <div class="panel-body">
            <form class="p-a-1" asp-action="CreateUser" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="FirstName">Имя:</label>
                    <input class="form-control" asp-for="FirstName" />
                </div>
                <div class="form-group">
                    <label asp-for="LastName">Фамилия:</label>
                    <input class="form-control" asp-for="LastName" />
                </div>
                <div class="form-group">
                    <label asp-for="BirthDate">Your phone:</label>
                    <input class="form-control" asp-for="BirthDate" />
                </div>
                <div class="form-group">
                    <label>Will you attend?</label>
                    <select class="form-control" asp-for="Role">
                        <option value="1">Guest</option>
                        <option value="2">User</option>
                        <option value="3">Admin</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Создать</button>
                </div>
            </form>
        </div>
    </div>
</body>