@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<body>
    <form method="post" action="NextTestOrFinish">
        <p><b>Какие технологии вы знаете?</b></p>
        <p>
            <input type="checkbox" name="option1" value="Remember.a1">.Net<Br>
            <input type="checkbox" name="option2" value="a2">Asp.Net Framework<Br>
            <input type="checkbox" name="option3" value="a3">.Net Core 3.0<Br>
            <input type="checkbox" name="option4" value="a4">Asp.Net Core MVC<Br>
            <input type="checkbox" name="option5" value="a5">kek
        </p>
        <p><input type="submit" value="Назад"> <input type="submit" value="Далее"></p>
    </form>
</body>